<h1>New Reference</h1>

<%= render 'form', reference: @reference %>

<%= link_to 'Back', references_path %>

<script>
//$("#reference_Title").prop("disabled", true);
//$("#reference_Type").prop("disabled", true);
</script>
